.title {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }

// .container::after {
//     content: "";
//     clear: both;
//     display: table;
// }

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}