.parent {
    display: flex;
    margin-top: 120px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: 30px;
}

.categor-class {
    background-color: orangered;
    margin: auto;
}

.best-class {
    background-color: red;
    margin: auto;
}

.offer-class {
    background-color: green;
    margin: auto;
}