.conteiner{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  width:100%;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:33%
}

.price{
  color:red;
}

.img{
  width:200px;
  height: 250px;
}