.nav {
    width: 260px;
    font-size: 18px;
    border: outset;
    border-radius: 5px;
}

.item {
      color: white;
      margin-top: 40px;
  }

.categor-title-class {
    font-size: 32px;
}

.categ-class {
    width: 20%;
}