.offer-title-class {
    display: flex;
    flex-direction: column;
    width: 325px;
    font-size: 32px;
}

.offer-of-the-day-class {
    display: flex;
    flex-direction: column;
}

.offer-of-the-day-class img {
    width: 200px;
    height: 200px;
}