.header-class {
    width: 100%;
}

.iconPC {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.title-text {
    display: inline-flex;
    font-size: 50px;   
    vertical-align: top;
}

.search-class {
    display: inline-flex;
    width: 45%;
    vertical-align: top;
    margin-top: 5px;
}

.bag-class-icon {
    display: inline-flex;
    vertical-align: top;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-left: 30px;
}

.log-reg-class {
    display: inline-flex;
    vertical-align: top;
    margin-top: 15px;
    width: 10px;
}