.bestgoods-title-class {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

.or {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 325px;
}

.or img {
  width: 150px;
  height: 150px;
  margin-left: 12px;
  margin-top: 10px;
}